{{#if this.error}}
    <div class="error">{{this.error}}</div>
{{/if}}
{{#if (eq @factor.type "otp")}}
    {{#unless this.isFactorActive}}
        <div class="verify-otp-qr">
            QR CODE:
            {{this.otpUrl}}
        </div>
        <div class="verify-otp-plaintext-secret">
            {{this.otpSecret}}
        </div>
    {{/unless}}

    <div class="verify-otp-proof">
        <label for="otp-verification" class="db">6-digit OTP from your authenticator:</label>
        <input
            id="otp-verification"
            pattern="[0-9]+"
            type="number"
            minlength="6"
            maxlength="6"
            inputmode="numeric"
            {{on "input" this.setProof}}
        />
    </div>
{{else if (eq @factor.type "backup-code")}}
    {{#if this.isFactorActive}}
        <label for="backup-verification" class="db">Enter your backup code:</label>
        <input
            id="backup-verification"
            pattern="[0-9-]+"
            type="number"
            minlength="12"
            maxlength="15"
            inputmode="numeric"
            {{on "input" this.setProof}}
        />
    {{else}}
        Take a note of these backup codes. They won't be shown again!
        <pre {{did-insert this.acknowledgeBackupCodes}}>{{#each @factor.context as |backupCode|}}<div>{{backupCode}}</div>{{/each}}</pre>
    {{/if}}
{{else}}
    Error: don't know how to render verification of {{@factor.name}} ("{{@factor.type}}")
{{/if}}
